@import "tailwindcss";

*{
    font-family: 'Roboto-mono',monospace;
}

button{
    cursor: pointer;
}

#cursor{
    display:block;
    background: #3B82F6;
    width: 1.5px;
    height: 40px;
    position: fixed;
    top: 246px;
    left: 135px;
    animation: blink 0.9s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}